.shadow1{
  box-shadow:  4px 4px 10px rgb(124, 117, 117);

}

.form{
  width: 40%;
  background-color: white;
  max-width: 500px;
}

@media screen and (max-width: 800px) {
  .form{
    width: 100%;
    border-radius: 0 !important;
    height: 100%;
    max-width: none !important;
  }
  
}