@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.emoji .EmojiPickerReact {
position: absolute !important;
bottom: 90px !important;
background-color: #080420;
box-shadow: 0 5px 10px#9a86f3;
left: 10px;
}
.epr-category-nav{
    filter: contrast();
}
.epr-emoji-category-label{
    background-color: #080420 !important;
}
.epr-body::-webkit-scrollbar{

    background-color: #080420;
    width: 5px;
    height: 50px;
  
}
.epr-body::-webkit-scrollbar-thumb{
    background-color: #9a86f3;
    border-radius: 10px;
}
@tailwind utilities;
